@import "modern-normalize/modern-normalize.css";

:root {
  --color-primary-prussian-blue: #013047;
  --color-primary-prussian-blue-rgb: 1, 48, 71;
  --color-primary-prussian-blue-darker-one: #012a3e;
  --color-primary-prussian-blue-darker-two: #012336;

  --color-primary-sky-blue: #8fcae5;
  --color-primary-sky-blue-rgb: 143, 202, 229;
  --color-primary-sky-blue-darker-one: #7fb4cc;
  --color-primary-sky-blue-darker-two: #6f9eb3;

  --color-primary-sunglow: #ffd167;
  --color-primary-sunglow-rgb: 255, 209, 103;
  --color-primary-sunglow-darker-one: #e3ba5b;
  --color-primary-sunglow-darker-two: #c8a44f;

  --color-primary-bright-pink: #ef476f;
  --color-primary-bright-pink-rgb: 239, 71, 111;
  --color-primary-bright-pink-darker-one: #d53e62;
  --color-primary-bright-pink-darker-two: #bb3656;

  --color-primary-mint-cream: #f7fbf5;
  --color-primary-mint-cream-rgb: 247, 251, 245;
  --color-primary-mint-cream-darker-one: #dce0da;
  --color-primary-mint-cream-darker-two: #c2c5c0;

  --color-secondary-cerulean: #126883;
  --color-secondary-cerulean-rgb: 18, 104, 131;
  --color-secondary-cerulean-darker-one: #0f5c74;
  --color-secondary-cerulean-darker-two: #0b5065;

  --color-secondary-blue-green: #219ebc;
  --color-secondary-blue-green-rgb: 33, 158, 188;
  --color-secondary-blue-green-darker-one: #1c8ca7;
  --color-secondary-blue-green-darker-two: #177b93;

  --color-secondary-jade: #07ad69;
  --color-secondary-jade-rgb: 7, 173, 105;
  --color-secondary-jade-darker-one: #059a5d;
  --color-secondary-jade-darker-two: #048751;

  --color-secondary-ut-orange: #f6851f;
  --color-secondary-ut-orange-rgb: 246, 133, 31;
  --color-secondary-ut-orange-darker-one: #db761a;
  --color-secondary-ut-orange-darker-two: #c16716;

  --color-secondary-orange-peel: #f99e1c;
  --color-secondary-orange-peel-rgb: 249, 158, 28;
  --color-secondary-orange-peel-darker-one: #de8c18;
  --color-secondary-orange-peel-darker-two: #c37b13;

  --color-focus-ring: rgba(13, 110, 253, 0.25);
  --color-focus-border: #86b7fe;

  --color-dark-gray: #111111;
  --color-gray: #404040;
  --color-light-gray: #b3b3b3;
  --color-lighter-gray: #e9ecef;

  --font-body: "PT Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
}

html {
  background: var(--color-primary-mint-cream);
  background: linear-gradient(
    in oklab to bottom,
    var(--color-primary-mint-cream) 0%,
    var(--color-primary-sky-blue) 65%,
    var(--color-primary-prussian-blue) 100%
  );
  color: var(--color-primary-prussian-blue);
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
  scrollbar-gutter: stable both-edges;
}

#app-container {
  box-sizing: border-box;
  margin: 0 auto 4rem;
  max-width: 48rem;
  min-width: 16rem;
  min-height: 100vh;
  padding: 0 0.25rem;

  @media (width >= 24rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
