@import "modern-normalize/modern-normalize.css";

:root {
  --color-primary-prussian-blue: #013047;
  --color-primary-sky-blue: #8fcae5;
  --color-primary-sunglow: #ffd167;
  --color-primary-bright-pink: #ef476f;
  --color-primary-mint-cream: #f7fbf5;
  --color-secondary-cerulean: #126883;
  --color-secondary-blue-green: #219ebc;
  --color-secondary-jade: #07ad69;
  --color-secondary-ut-orange: #f6851f;
  --color-secondary-orange-peel: #f99e1c;
  --color-gray: rgba(0, 0, 0, 0.7);
  --color-light-gray: rgba(0, 0, 0, 0.2);
  --font-body: "PT Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
}

html {
  background: var(--color-primary-mint-cream);
  background: linear-gradient(
    to bottom,
    var(--color-primary-mint-cream) 0%,
    var(--color-primary-sky-blue) 60%,
    var(--color-primary-prussian-blue) 100%
  );
  color: var(--color-primary-prussian-blue);
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0;
}

#app-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 42rem;
  min-width: 20rem;
  min-height: 40rem;
  padding: 0 0.5rem 4rem 0.5rem;
}

details {
  /* slate 400 */
  border: 1px solid oklch(70.4% 0.04 256.788);
  border-top: 0;
  cursor: pointer;
}

details:is([open]) {
  cursor: auto;
  padding-bottom: 2rem;
}

details[open] > summary {
  margin-bottom: 1rem;
}

details:first-child {
  /* slate 400 */
  border-top: 1px solid oklch(70.4% 0.04 256.788);
}

summary {
  padding: 1rem;
}

bible-translation-selector,
bible-verse-selector,
recite-bible-verse,
accuracy-report {
  padding: 0 1rem;
}

bible-translation-selector {
  margin-bottom: 2rem;
}
